body {
  background-color: #1FA0FF;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1FA0FF;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

.container {
  width: 80%;
  margin: 50px auto;
}

form label {
  display: block;
  margin-top: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

form textarea {
  height: 150px;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #ffffff;
  color: #1FA0FF;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
